body{
    margin: 0;
    padding: 0;

}
.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,
                                rgba(2,0,36,0.7) 0%,
                                rgba(9,9,121.0.7) 35%,
                                rgba(0,212,225,0.7) 100%),
                                url('./images/watch.png');
}